Source: ros-rolling-mrpt-tutorials
Section: misc
Priority: optional
Maintainer: Jose Luis Blanco-Claraco <joseluisblancoc@gmail.com>
Build-Depends: debhelper (>= 9.0.0), cmake, ros-rolling-ament-cmake, ros-rolling-ament-lint-auto, ros-rolling-ament-lint-common, ros-rolling-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-rolling-mrpt-tutorials
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-rolling-ament-lint-auto, ros-rolling-ament-lint-common, ros-rolling-mvsim, ros-rolling-teleop-twist-keyboard, ros-rolling-ros-workspace
Description: Example files used as tutorials for MRPT ROS packages
